/* src/Header.css */
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .owl-theme .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #ddd;
  }
  